streamlit
snowflake-snowpark-python
requests

name: smoothie_env
channels:
  - conda-forge
dependencies:
  - python=3.10
  - pip
  - pip:
      - streamlit
      - snowflake-snowpark-python
      - pandas
      - numpy
